<header class="align-center">
	<h2><%= current_user.first_name %>'s Beers</h2>
</header>

<div class="row 200%">
	<div class="6u 12u$(medium)">
		<%= form_tag(user_user_beers_path, method: "get") do %>
			<%= render partial: 'application/category_filter', locals: {categories: @categories} %>
			<%= render partial: 'application/brewery_filter', locals: { breweries: @breweries} %>
			<div>
				<%= submit_tag "Apply Filter" %>
			</div>
		<% end %>
	</div>

	<div class="6u$ 12u$(medium)">
		<% if !@userbeers.empty? %>
		<%= render partial: 'layouts/flash' %>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Brewery</th>
							<th>Name</th>
							<th>Abv</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					<% @userbeers.sort_by_brewery.each do |userbeer| %>
						<tr>
							<td><%= link_to userbeer.brewery_name, brewery_path(userbeer.beer.brewery) %></td>
							<td><%= link_to userbeer.name, user_user_beer_path(current_user, userbeer.id) %></td>
							<td><%= userbeer.abv %>%</td>
							<td><%= link_to content_tag(:i, nil, class: "fa fa-trash-o fa-6"), [current_user, userbeer], method: :delete, data: {confirm: "Are you sure you want to delete this beer?"}%></td>
						</tr>
					<% end %>
				</table>
			</div>
			<% else %>
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Brewery</th>
								<th>Name</th>
								<th>Abv</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><em>No results</em></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
					</table>
				</div>
			<% end %>
	</div>
</div>
