<h1><%= @userbeer.beer.name %></h1>
<h3>Status: <%= @userbeer.verbose_status if @userbeer.status %></h3>
<h3>Brewery: <%= link_to @userbeer.beer.brewery.name, brewery_path(@userbeer.beer.brewery) %></h3>
<h3>Style: <%= link_to @userbeer.beer.category.name, category_path(@userbeer.beer.category) %></h3>
<h3>ABV: <%= @userbeer.beer.abv%> </h3>
<h3>Description: </h3>
<p><%= @userbeer.beer.description %></p>

<h3>My notes:</h3>
<% if @userbeer.notes %>
  <p><%= @userbeer.notes%></p>
<% else %>
  <%= form_tag user_user_beer_path(current_user, @userbeer) do %>
    <%= text_area_tag :notes, nil, size: "60x5"%> <br>
    <%= submit_tag "Add Note" %>
  <% end %>
<% end %>

<!-- show edit link for notes -->
