<h1><%= @userbeer.name %></h1>
<h3>Brewery: <%= link_to @userbeer.brewery.name, brewery_path(@userbeer.brewery) %></h3>
<h3>Style: <%= link_to @userbeer.category.name, category_path(@userbeer.category) %></h3>
<h3>ABV: <%= @userbeer.abv%> </h3>
<h3>Description: </h3>
<p><%= @userbeer.description %></p>

<h4>Info</h4>
<p>Status: <%= @userbeer.status if @usebeer.status %></p>
<p>Notes: <%= @userbeer.notes if @usebeer.notes %></p>
