<header class="align-center">
	<h2><%= @userbeer.name %></h2>
	<%= render partial: "application/beer_buttons", locals: {user: current_user, beer: @userbeer} %>
</header>

<div class="row 200%">
	<div class="6u 12u$(medium)">
		<ul class="alt">
			<li><strong>Brewery: </strong><a href="#" id="breweryName"></a> </li>
			<li><strong>Style: </strong><a href="#" id="categoryName"></a></li>
			<li><strong>ABV: </strong><span id="beerABV"></span></li>
			<li><strong>Description: </strong><span id="beerDescription"></span></li>
		</ul>
	</div>

	<div class="6u 12u$(medium)">
		<strong>My notes:</strong>
		<% if @userbeer.notes %>
		  <p id="userBeerNotes"></p>
		<% else %>
			<%= form_for ([current_user, @userbeer]) do |f| %>
				<%= f.text_area :notes, size: "45x3"%> <br>
				<%= f.submit "Add Note" %>
			<% end %>
		<% end %>
	</div>
</div>
