<header class="align-center">
	<h2><%= @userbeer.beer.name %></h2>

</header>

<div class="box">
  <!-- need to update button styling -->
  <p>Status: <%= @userbeer.verbose_status %><%= render partial: "beers/beer_buttons", locals: {user: current_user, beer: @userbeer} %> </p>
  <p><strong>Brewery: </strong><%= link_to @userbeer.beer.brewery.name, brewery_path(@userbeer.beer.brewery) %></p>
  <p><strong>Style: </strong><%= link_to @userbeer.beer.category.name, category_path(@userbeer.beer.category) %></p>
  <p><strong>ABV: </strong><%= @userbeer.beer.abv%> </p>
  <p><strong>Description: </strong><%= @userbeer.beer.description %></p>
</div>

<h3>My notes:</h3>
<% if @userbeer.notes %>
  <p><%= @userbeer.notes%></p>
<% else %>
	<%= form_for ([current_user, @userbeer]) do |f| %>
		<%= f.text_area :notes, size: "60x5"%> <br>
		<%= f.submit "Add Note" %>
	<% end %>
  <!-- <%= form_tag user_user_beer_path(current_user.id, @userbeer.id) do %>
    <%= hidden_field_tag('_method', 'put') %>
    <%= text_area_tag "user_beer[notes]", nil, size: "60x5"%> <br>
    <%= submit_tag "Add Note" %>
  <% end %> -->
	<%= render partial: 'user_beers/delete_form', locals: {user: current_user, beer: @userbeer} %>
<% end %>

<!-- show edit link for notes -->
