<header class="align-center">
	<h2>Register for a BeerMe Account</h2>
</header>

<div class="12u$">
	<%= form_for(@user) do |f| %>
		<% if @user.errors.any? %>
			<div class="box 6u 12u$(xsmall)" id="error_explanation">
				<h2>
					<%= pluralize(@user.errors.count, "error") %>
					prohibited this user from being created:
				</h2>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<!-- want to center the fields without centering text -->
		<div class="6u 12u$(xsmall)">
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>
		</div>
		<div class="6u 12u$(xsmall)">
		  <%= f.label :last_name %>
		  <%= f.text_field :last_name %>
		</div>
		<div class="6u 12u$(xsmall)">
			<%= f.label :email %>
		  <%= f.text_field :email %>
		</div>
		<div class="6u 12u$(xsmall)">
			<%= f.label :password %>
		  <%= f.text_field :password %>
		</div>

		<ul class="actions">
			<br><li><%= f.submit "Register" %></li>
		</ul>
	<% end %>
</div>
