<header class="align-center">
	<h2><%= @brewery.name %></h2>
  <p><%= @brewery.location %></p>
</header>

<% if @brewery.description %>
  <div class="box">
    <p><%= @brewery.description %></p>
  </div>
<% end %>

<h3>Beers</h3>

<div class="row 200%">
	<div class="row uniform 6u 12u$(medium)">
		<div class="select-wrapper 12u$">
			<%= form_tag("/breweries/#{@brewery.id}", method: "get") do %>
	      <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), prompt: "All Types" %>
	    </div>
			<div>
				<%= submit_tag "Apply Filter" %>
			</div>
	  <% end %>
	</div>


	<div class="6u$ 12u$">
		<% if !@beers.empty? %>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Abv</th>
						</tr>
					</thead>
					<tbody>
					<% @beers.alpha_sorted.each do |beer| %>
						<tr>
							<td><%= link_to beer.name, beer_path(beer) %></td>
							<td><%= beer.abv %>%</td>
						</tr>
					<% end %>
				</table>
			</div>
			<% else %>
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Abv</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><em>No results</em></td>
								<td></td>
							</tr>
					</table>
				</div>
			<% end %>
	</div>
</div>
