<header class="align-center">
	<h2><%= @brewery.name %></h2>
  <p><%= @brewery.location %></p>
</header>

<% if @brewery.description %>
  <div class="box">
    <p><%= @brewery.description %></p>
  </div>
<% end %>

<h3>Beers</h3>

<div class="row 200%">
	<div class="6u 12u$(medium)">
		<%= form_tag("/breweries/#{@brewery.id}", method: "get", id: "categoryFilter") do %>
      <%= render partial: 'application/category_filter', locals: {categories: @categories} %>
	  <% end %>
	</div>

	<div class="6u$ 12u$">
		<div class="table-wrapper">
	    <table>
	      <thead>
	        <tr>
	          <th>Name</th>
	          <th>Abv</th>
	        </tr>
	      </thead>
	      <tbody>
				</tbody>
	    </table>
	  </div>
	</div>
</div>
