<header class="align-center">
	<h2><%= @brewery.name %></h2>
  <p><%= @brewery.location %></p>
</header>

<% if @brewery.description %>
  <div class="box">
    <p><%= @brewery.description %></p>
  </div>
<% end %>

<h3>Beers</h3>

<div class="filter">
  <h5>Filter By Category</h5>
  <%= form_tag("/breweries/#{@brewery.id}", method: "get") do %>
    <div class="select-wrapper 6u$ 12u$(medium)">
      <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), prompt: "All" %> <br>
    </div>
    <%= submit_tag "Apply Filter" %>
  <% end %>
</div>

<div class="list">
  <% if @beers.empty? %>
    <p><em>No results</em></p>
  <% else %>
    <ul>
      <% @beers.each do |beer| %>
        <li><%= link_to beer.name, beer_path(beer) %> (<%= beer.abv %>)</li>
      <% end %>
    </ul>
  <% end %>
</div>
