<%= form_for(beer) do |f| %>

  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:
      </h2>

      <ul>
      <% beer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- not sure if i should keep the fieldsets bc it's weird to have a section for everything -->
  <fieldset class="box">
    <legend>Brewery</legend>
    <!-- text field with auto complete, also drop down menu -->
    <!-- will need to convert this to a nested form -->
    <%= f.fields_for :brewery do |b| %>
      <%= b.label "Name" %>
      <%= b.text_field :name, list: "breweries_autocomplete" %>
      <datalist id="breweries_autocomplete">
        <% Brewery.all.each do |brewery| %>
          <option value="<%= brewery.name %>">
        <% end %>
      </datalist> <br />
      <!-- ideally want location to autopopulate if user chooses existing brewery -->
      <%= b.label :location %>
      <%= b.text_field :location %>
    <% end %>
  </fieldset>

  <!-- can you do a fields_for the beer? -->
  <fieldset class="box">
    <legend>Beer</legend>
    <%= f.label :name %>
    <%= f.text_field :name, list: "beers_autocomplete" %>
    <datalist id="beers_autocomplete">
      <% Beer.all.each do |beer| %>
        <option value="<%= beer.name %>">
      <% end %>
    </datalist> <br />

    <!-- ideally want these fields to autopopulate if user chooses existing beer -->
    <!-- text field with auto complete, also drop down menu -->
    <!-- will need to convert this to a nested form -->
    <%= f.fields_for :category do |c| %>
      <%= c.label "Type" %>
      <%= c.text_field :name, list: "categories_autocomplete" %>
      <datalist id="categories_autocomplete">
        <% Category.all.each do |category| %>
          <option value="<%= category.name %>">
        <% end %>
      </datalist> <br />
    <% end %>
    <%= f.label :abv %>
    <%= f.text_field :abv %> <br />

    <%= f.label :description %>
    <%= f.text_area :description %> <br />

    <div class="row uniform">
      <%= f.fields_for :user_beer do |u| %>
        <div class="4u 12u$(small)">
          <%= u.radio_button :status, true %>
          <%= u.label :status, "Tried", :value => true %>
        </div>
        <div class="4u 12u$(small)">
          <%= u.radio_button :status, false, :checked => 'checked' %>
          <%= u.label :status, "Want to try", :value => false %>
        </div>
      <% end %>
    </div>
  </fieldset>
  
  <%= f.submit "Add Beer To My List" %>
<% end %>
