<%= form_for([user, beer]) do |f| %>

  <% if beer.errors.any? %>
    <div class="box" id="error_explanation">
      <h2>
        <%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:
      </h2>

      <ul>
      <% beer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="box">
    <legend class="section-title">Brewery</legend>
    <!-- text field with auto complete, also drop down menu -->
    <%= f.fields_for :brewery do |b| %>
      <%= b.label "Name*" %>
      <%= b.text_field :name, list: "breweries_autocomplete", required: true %>
      <datalist id="breweries_autocomplete">
        <% Brewery.alpha_sorted.each do |brewery| %>
          <option value="<%= brewery.name %>">
        <% end %>
      </datalist> <br />
      <!-- ideally want location to autopopulate if user chooses existing brewery bc right now it updates the brewery location-->
      <%= b.label :location %>
      <%= b.text_field :location %>
    <% end %>
  </fieldset>

  <fieldset class="box">
    <legend class="section-title">Beer</legend>
    <%= f.label "Name*" %>
    <%= f.text_field :name, list: "beers_autocomplete", required: true %>
    <datalist id="beers_autocomplete">
      <% Beer.alpha_sorted.each do |beer| %>
        <option value="<%= beer.name %>">
      <% end %>
    </datalist> <br />

    <!-- ideally want these fields to autopopulate if user chooses existing beer -->
    <!-- text field with auto complete, also drop down menu -->
    <%= f.fields_for :category do |c| %>
      <%= c.label "Type*" %>
      <%= c.text_field :name, list: "categories_autocomplete", required: true %>
      <datalist id="categories_autocomplete">
        <% Category.alpha_sorted.each do |category| %>
          <option value="<%= category.name %>">
        <% end %>
      </datalist> <br />
    <% end %>
    <%= f.label "ABV* (%)"%>
    <%= f.text_field :abv %> <br />

    <%= f.label :description %>
    <%= f.text_area :description %> <br />

    <div class="row uniform">
      <%= f.fields_for :user_beer do |u| %>
        <div class="4u 12u$(small)">
          <%= u.radio_button :status, true %>
          <%= u.label :status, "Tried", :value => true %>
        </div>
        <div class="4u 12u$(small)">
          <%= u.radio_button :status, false, :checked => 'checked' %>
          <%= u.label :status, "Want to try", :value => false %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <%= f.submit "Add Beer To My List" %>
<% end %>
