<%= form_for(beer) do |f| %>

  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:
      </h2>

      <ul>
      <% beer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, list: "beers_autocomplete" %>
  <datalist id="beers_autocomplete">
    <% Beer.all.each do |beer| %>
      <option value="<%= beer.name %>">
    <% end %>
  </datalist> <br> </br>

  <%= f.label :description %>
  <%= f.text_area :description %> <br> </br>

  <%= f.label :abv %>
  <%= f.text_field :abv %> <br> </br>

  <!-- text field with auto complete, also drop down menu -->
  <!-- will need to convert this to a nested form -->

  <%= f.fields_for :brewery do |b| %>
    <%= b.label "Brewery Name" %>
    <%= b.text_field :name, list: "breweries_autocomplete" %>
    <datalist id="breweries_autocomplete">
      <% Brewery.all.each do |brewery| %>
        <option value="<%= brewery.name %>">
      <% end %>
    </datalist> <br> </br>
    <%= b.label :location %>
    <%= b.text_field :location %> <br> </br>
  <% end %>

  <!-- text field with auto complete, also drop down menu -->
  <!-- will need to convert this to a nested form -->
  <%= f.fields_for :category do |c| %>
    <%= c.label "Category Name" %>
    <%= c.text_field :name, list: "categories_autocomplete" %>
    <datalist id="categories_autocomplete">
      <% Category.all.each do |category| %>
        <option value="<%= category.name %>">
      <% end %>
    </datalist> <br> </br>
  <% end %>

  <%= f.submit "Add Beer" %>
<% end %>
