<header class="align-center">
	<h2>Beers</h2>
</header>

<div class="row 200%">
	<div class="6u 12u$(medium) row uniform">
		<!-- need to figure how how the data is transmitted when you submit the form -->
		<!-- need to keep this as a form otherwise the filters don't work -->
			<%= form_tag(beers_path, method: "get", id: "beerFilter") do %>
			<%= render partial: 'application/category_filter', locals: {categories: @categories} %>
			<%= render partial: 'application/brewery_filter', locals: {breweries: @breweries} %>
				<!-- <div>
					<%= submit_tag "Apply Filter", id: "applyFilter" %>
				</div> -->
			<% end %>

		<div class="table-wrapper">
	    <table>
	      <thead>
	        <tr>
	          <th>Brewery</th>
	          <th>Name</th>
	          <th>Abv</th>
	        </tr>
	      </thead>
	      <tbody>
	      </tbody>
	    </table>
	  </div>
	</div>

	<div class="6u 12u$(medium) row uniform">
		<%= form_tag(beers_path, method: "post", id: "beerForm") do %>
			<%= label_tag "Name*" %>
			<%= text_field_tag "Name" %>

			<%= label_tag "ABV*" %>
			<%= text_field_tag "ABV" %>

			<%= label_tag "Description*" %>
			<%= text_field_tag "Description" %>

		  <%= submit_tag "Add Beer" %>
		<% end %>
	</div>

</div>
