<header class="align-center">
	<h2>Beers</h2>
</header>

<div class="row 200%">
	<div class="6u 12u$(medium) row uniform">
			<%= form_tag(beers_path, method: "get") do %>
				<%= render partial: 'beers/category_filter', locals: {categories: @categories} %>
				<%= render partial: 'beers/brewery_filter', locals: {breweries: @breweries} %>
				<div>
					<%= submit_tag "Apply Filter" %>
				</div>
			<% end %>
	</div>

	<div class="6u$ 12u$(medium)">
		<% if !@beers.empty? %>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Brewery</th>
							<th>Name</th>
							<th>Abv</th>
						</tr>
					</thead>
					<tbody>
					<% @beers.sort_by_brewery.each do |beer| %>
						<tr>
							<td><%= link_to beer.brewery.name, brewery_path(beer.brewery) %></td>
							<td><%= link_to beer.name, beer_path(beer) %></td>
							<td><%= beer.abv %>%</td>
						</tr>
					<% end %>
				</table>
			</div>
		<% else %>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Brewery</th>
							<th>Name</th>
							<th>Abv</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><em>No results</em></td>
							<td></td>
							<td></td>
						</tr>
				</table>
			</div>
		<% end %>
	</div>
</div>
