<header class="align-center">
	<h2>Beers</h2>
</header>

<div class="row 200%">
	<div class="6u 12u$(medium)">
		<!-- need to figure how how the data is transmitted when you submit the form -->
		<!-- need to keep this as a form otherwise the filters don't work -->
		<%= form_tag(beers_path, method: "get", id: "beerFilter") do %>
		<%= render partial: 'application/category_filter', locals: {categories: @categories} %>
		<%= render partial: 'application/brewery_filter', locals: {breweries: @breweries} %>
			<!-- <div>
				<%= submit_tag "Apply Filter", id: "applyFilter" %>
			</div> -->
		<% end %>

		<div class="table-wrapper">
	    <table>
	      <thead>
	        <tr>
	          <th>Brewery</th>
	          <th>Name</th>
	          <th>Abv</th>
	        </tr>
	      </thead>
	      <tbody>
	      </tbody>
	    </table>
	  </div>
	</div>

	<div class="6u 12u$(medium)">
		<h4>Add New Beer</h4>

		<%= form_for @beer do |f|%>
		<div class="row uniform">

			<div class="6u 12u$(xsmall)">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>

			<div class="6u 12u$(xsmall)">
				<%= f.label :abv %>
				<%= f.text_field :abv %>
			</div>

			<div class="12u$">
				<%= f.label :description %>
				<%= f.text_area :description %>
			</div>

			<div class="6u 12u$(xsmall)">
		  	<%= f.submit "Add Beer" %>
			</div>
		</div>
		<% end %>
		<!--
		<%= form_tag(beers_path, method: "post", id: "beerForm") do %>
		<div class="row uniform">

			<div class="6u 12u$(xsmall)">
				<%= label_tag "[beer]name", "Name*" %>
				<%= text_field_tag "Name" %>
			</div>

			<div class="6u 12u$(xsmall)">
				<%= label_tag "ABV*" %>
				<%= text_field_tag "ABV" %>
			</div>

			<div class="12u$">
				<%= label_tag "Description*" %>
				<%= text_area_tag "Description" %>
			</div>

			<div class="6u 12u$(xsmall)">
		  	<%= submit_tag "Add Beer" %>
			</div>
		</div>
		<% end %> -->
	</div>

</div>
