<header class="align-center">
	<h2><%= @beer.name %></h2>
  <p>Brewery: <%= link_to @beer.brewery_name, brewery_path(@beer.brewery) %>  </p>
</header>

<div class="box">
  <p><strong>Style: </strong><%= link_to @beer.category_name, category_path(@beer.category) %></p>
  <p><strong>ABV: </strong><%= @beer.abv%>% </p>
  <p><strong>Description: </strong><%= @beer.description %></p>
</div>

<div class="js-next align-right">
	<!-- probably want this whole thing to be a clickable area -->
	<!-- also want the button to be on the RHS of Next but not sure how to make that one link -->
	<a href="#">Next<i class="icon fas fa-arrow-circle-right js-next"></i></a>
</div>
