<header class="align-center">
	<h2><%= @beer.name %></h2>
  <p>Brewery: <%= link_to @beer.brewery_name, brewery_path(@beer.brewery) %>  </p>
</header>

<div class="box">
  <p><strong>Style: </strong><%= link_to @beer.category_name, category_path(@beer.category) %></p>
  <p><strong>ABV: </strong><%= @beer.abv%>% </p>
  <p><strong>Description: </strong><%= @beer.description %></p>
</div>

<!-- probably want this whole thing to be a clickable area -->
<!-- also want the button to be on the RHS of Next but not sure how to make that one link -->
<!-- how do i get the icon to be green too? -->

<div class="js-next" data-id="<%= @beer.id %>">
	<a href="#">NEXT</a>&nbsp;<i class="icon fas fa-arrow-circle-right fa-lg"></i>
</div>

<!-- <button class="icon:after fas fa-arrow-circle-right fa-sm"><span>Next</span></button> -->
