<header class="align-center">
	<h2 class="beerName"><%= @beer.name %></h2>
  <p>Brewery: <a href="/breweries/<%= @beer.brewery.id %>" class="breweryName"><%= @beer.brewery.name %> </a></p>
</header>

<div class="box">
	<!-- maybe make this a table so that it's easier to update the data without losing labels -->
  <p><strong>Style: </strong> <a href="/categories/<%= @beer.category.id %>" class="categoryName"><%= @beer.category.name %></a></p>
  <p class="beerABV"><strong>ABV: </strong><%= @beer.abv%>% </p>
  <p class="beerDescription"><strong>Description: </strong><%= @beer.description %></p>
</div>

<!-- probably want this whole thing to be a clickable area -->
<!-- also want the button to be on the RHS of Next but not sure how to make that one link -->
<!-- how do i get the icon to be green too? -->

<div class="js-next" data-id="<%= @beer.id %>">
	<a href="#">NEXT</a>&nbsp;<i class="icon fas fa-arrow-circle-right fa-lg"></i>
</div>

<!-- <button class="icon:after fas fa-arrow-circle-right fa-sm"><span>Next</span></button> -->
