<h1><%= @category.name %></h1>
<p><%= @category.description %></p>

<h3>Beers</h3>
<ul>
  <% @category.beers.each do |beer| %>
    <li><%= link_to beer.brewery.name, brewery_path(beer.brewery) %>: <%= link_to beer.name, beer_path(beer) %> (<%= beer.abv %>)</li>
  <% end %>
</ul>
