<!DOCTYPE html>
<html>
	<head>
		<title>BeerMe</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%= stylesheet_link_tag 'application', media: 'all'%>
		<%= javascript_include_tag 'application' %>
		<script src="https://use.fontawesome.com/10d3acd444.js"></script>

    <%= csrf_meta_tags %>
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<nav id="nav">
           <%= render partial: 'layouts/navbar' %>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

		<section id="three" class="wrapper">
	    <div class="inner">
				<%= yield %>
	    </div>
		</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="copyright">
  					&copy; BeerMe. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://www.pexels.com/">Pexels</a>.
				  </div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
